<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Image Search</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/functions.js"></script>
    <style>
      body {
        background-image: url("<%= imageUrlArray[0] %>");
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
      }
    </style>
    <link rel="stylesheet" href="css/styles.css" />
  </head>

